## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys

In [2]:
sys.path.append("Vacation_Search")

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chililabombwe,ZM,2022-02-05 19:38:03,-12.3648,27.8229,62.42,97,93,3.47,light rain
1,1,Ushuaia,AR,2022-02-05 19:36:33,-54.8000,-68.3000,64.02,55,75,24.16,light rain
2,2,Murgud,IN,2022-02-05 19:38:03,16.4000,74.2000,63.79,78,37,0.85,scattered clouds
3,3,Mahebourg,MU,2022-02-05 19:38:04,-20.4081,57.7000,80.26,89,75,21.85,broken clouds
4,4,Kirakira,SB,2022-02-05 19:38:04,-10.4544,161.9205,81.84,83,97,4.81,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mahebourg,MU,2022-02-05 19:38:04,-20.4081,57.7000,80.26,89,75,21.85,broken clouds
4,4,Kirakira,SB,2022-02-05 19:38:04,-10.4544,161.9205,81.84,83,97,4.81,overcast clouds
5,5,Sibu,MY,2022-02-05 19:38:05,2.3000,111.8167,75.51,100,40,1.99,scattered clouds
7,7,Atuona,PF,2022-02-05 19:38:05,-9.8000,-139.0333,78.96,76,6,22.30,clear sky
9,9,Carnarvon,AU,2022-02-05 19:38:06,-24.8667,113.6333,78.87,89,75,9.22,broken clouds
15,15,Rikitea,PF,2022-02-05 19:38:08,-23.1203,-134.9692,78.93,72,99,11.18,overcast clouds
17,17,Fayaoue,NC,2022-02-05 19:38:09,-20.6500,166.5333,82.04,79,33,15.23,scattered clouds
21,21,Saint-Pierre,RE,2022-02-05 19:38:11,-21.3393,55.4781,82.08,69,100,6.91,overcast clouds
22,22,Cabedelo,BR,2022-02-05 19:38:11,-6.9811,-34.8339,86.67,67,7,11.43,clear sky
24,24,Bairiki,KI,2022-02-05 19:38:12,1.3292,172.9752,82.40,78,40,9.22,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mahebourg,MU,2022-02-05 19:38:04,-20.4081,57.7000,80.26,89,75,21.85,broken clouds
4,4,Kirakira,SB,2022-02-05 19:38:04,-10.4544,161.9205,81.84,83,97,4.81,overcast clouds
5,5,Sibu,MY,2022-02-05 19:38:05,2.3000,111.8167,75.51,100,40,1.99,scattered clouds
7,7,Atuona,PF,2022-02-05 19:38:05,-9.8000,-139.0333,78.96,76,6,22.30,clear sky
9,9,Carnarvon,AU,2022-02-05 19:38:06,-24.8667,113.6333,78.87,89,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
678,678,Micheweni,TZ,2022-02-05 19:34:33,-4.9667,39.8333,79.70,80,100,7.63,overcast clouds
680,680,Sampang,ID,2022-02-05 19:34:34,-7.1872,113.2394,76.95,86,98,10.18,overcast clouds
681,681,Panalingaan,PH,2022-02-05 19:34:35,8.7842,117.4231,77.59,82,76,5.10,broken clouds
683,683,Mitsamiouli,KM,2022-02-05 19:34:35,-11.3847,43.2844,81.77,75,100,11.01,overcast clouds
684,684,Thinadhoo,MV,2022-02-05 19:34:36,0.5333,72.9333,82.27,72,70,11.63,broken clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mahebourg,MU,80.26,broken clouds,-20.4081,57.7000,
4,Kirakira,SB,81.84,overcast clouds,-10.4544,161.9205,
5,Sibu,MY,75.51,scattered clouds,2.3000,111.8167,
7,Atuona,PF,78.96,clear sky,-9.8000,-139.0333,
9,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,
15,Rikitea,PF,78.93,overcast clouds,-23.1203,-134.9692,
17,Fayaoue,NC,82.04,scattered clouds,-20.6500,166.5333,
21,Saint-Pierre,RE,82.08,overcast clouds,-21.3393,55.4781,
22,Cabedelo,BR,86.67,clear sky,-6.9811,-34.8339,
24,Bairiki,KI,82.40,scattered clouds,1.3292,172.9752,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mahebourg,MU,80.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Kirakira,SB,81.84,overcast clouds,-10.4544,161.9205,SanBiz Lodge
5,Sibu,MY,75.51,scattered clouds,2.3000,111.8167,RH HOTEL (4 Star)
7,Atuona,PF,78.96,clear sky,-9.8000,-139.0333,Villa Enata
9,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Call the figure to plot the data.

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))